<!DOCTYPE html>
<html th="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<form th:action="@{/admin/categories/add}" method="post"
						th:object="${category}">
						<input type="hidden" name="id" th:field="*{id}">
						<div class="form-group">
							<label for="name">Name</label> <input type="text"
								class="form-control" required th:field="*{name}" name="name"
								id="name" placeholder="Enter name">

						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>



























	</section>
</body>
</html>